<h1>Admin Dashboard</h1>
<p>Current Products in the Database: <a href="/admin/products"><%= @products %></a></p>
<p>Current Categories of products in the Database: <a href="/admin/products"><%= @categories %></a></p>
