<h1>Hello!  Thank you for shopping on the Jungle!</h1>
<h3><i>Home of the most niche and hipster fare this world over!</i></h3>
<br />
<h3>Contact</h3>
<p>Please send all friendly messages and complaints to <strong>b.wayne@bat.man</strong></p>