// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

@font-face {
  font-family: "SansitaSwashed";
  src: url("/assets/SansitaSwashed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/Ubuntu-Medium.ttf") format("truetype");
}
// Global
body {
  padding: 40px 0px;
  font-family: "Ubuntu";
}

h1,
h2,
h3,
nav a,
nav li {
  font-family: "SansitaSwashed";
}

// Nav
.signed-in {
  pointer-events: none;
  cursor: default;
}

// Footer
.login-info-footer {
  background-color: rgba(238, 230, 230, 0.822);
  position: sticky;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 15%;
  text-align: center;
  left: 1%;
  bottom: 1%;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
